<h1>Folder Tree Demo</h1>
<ol>
  <li>Double Click <i class="icon-folder-close"></i>to expand/collapse</li>
  <li>Click folder <span class="label">name</span> to toggle selected</li>
</ol>
{{kane-foldertree folders=folders classNames="folder-tree"}}
