<h1>Let's log in!</h1>
<form>
  <fieldset>
    {{input
      value=potentialName
      action="attemptLogin" target=userCon}}
    <div class="btn" 
      {{action "attemptLogin" potentialName socket target=userCon}}>
      Check Name
    </div>
  </fieldset>
</form>
